.tile-bg-youtube
  %iframe.tile-youtube-player{:allowFullScreen => "", :frameborder => "0", :height => "370", :src => "http://www.youtube.com/embed/#{id}", :title => "YouTube video player", :type => "text/html", :width => "385"}
  %p 
    = tile.caption