<iframe title="YouTube video player" class="tile-youtube-player" type="text/html" 
  src="http://www.youtube.com/embed/<%= id %>"
  frameborder="0" allowFullScreen>
</iframe>

<p><%= tile.caption %></p>
