#layout.pure-g-r
  %a#menuLink.pure-menu-link{href: "#menu"}
    %span
  #menu.pure-u
    .pure-menu.pure-menu-open
      %a.pure-menu-heading{href: "/"} Marx
      %ul
        - @pages.each do |page|
          %li
            %a{href:"#", class: "page_link", data:{id:page.id}}= page.title
        %li
          %a{href:"#",class: "page_link", data:{id:"5"}} Sample
        %li
          %a{href:"#"} Sample2
        %li.menu-item-divided
          %a{href: "#"} Divider Sample
      %br
      .pure-menu-selected{:style => "text-align: center; list-style-type: none; position: absolute; bottom: 0; width: 100%;"}
        = link_to "Log out", destroy_user_session_path, :method => :delete, :style => "padding: 12px 0px;"
  #main.pure-u-1
    .header
      %h1 Page Title Goes Here!
      %h2 Subtitle where we should probably put author
